thead tr.column-headers {
    background-color:#eceeef;
}

tbody tr.null-search {
    background-color:#eceeef;
	text-align: center;
	font-size: 2.4em;
}

tfoot tr {
    background-color:#eceeef;
}

td.issue-link {
	cursor: pointer;
}