<!DOCTYPE html>
<html>

<!-- ---------------------------------------------- -->
<!-- Document head 									-->
<!-- ---------------------------------------------- -->

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="media/img/favicon.ico" type="image/x-icon" />
    <title>ES-DOC - Errata - Create / Edit Issue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ---------------------------------------------- -->
    <!-- CSS: 											-->
    <!-- ---------------------------------------------- -->
    <link href="ext/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="media/css/shared/defaults.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="media/css/shared/cv.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="media/css/shared/header.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="media/css/edit/main.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- ---------------------------------------------- -->
    <!-- JS: 3rd party libraries                        -->
    <!-- ---------------------------------------------- -->
    <script src="ext/jquery-2.2.3.min.js"></script>
    <script src="ext/underscore-1.9.0.min.js"></script>
    <script src="ext/backbone-1.4.1.min.js"></script>
    <script src="ext/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <script src="ext/js.cookie-2.1.0.js"></script>
    <script src="ext/moment-2.29.4.min.js"></script>
    <script src="ext/numeral-1.5.3.min.js"></script>
    <script src="ext/pyessv-0.2.0.min.js" type="text/javascript"></script>
    <script src="ext/validate.min.js" type="text/javascript"></script>

    <!-- ---------------------------------------------- -->
    <!-- JS: Application script                         -->
    <!-- ---------------------------------------------- -->
    <script src="media/js/edit/index.js" type="module"></script>
    <!-- <script src="dist/edit.js" defer nomodule></script> -->
</head>

<!-- ---------------------------------------------- -->
<!-- Document body 									-->
<!-- ---------------------------------------------- -->

<body>

    <!-- BEGIN: Page header -->
    <script type="underscore/template" id="template-header">
<header class="main">
    <!-- Logo -->
    <img src="media/img/logo.png"
         alt="Earth System Documentation"
         title="Earth System Documentation"
         class="pull-left esdoc-logo" />
    <h1 class="pull-right">
        <!-- Title -->
        <small>
            <% if (STATE.issue.isNew) {%>
                <% if (STATE.isAuthenticated) {%>
                    <b><%= APP.LONG_NAME %> - Create Issue</b>
                <% } else { %>
                    <b><%= APP.LONG_NAME %> - Propose Issue</b>
                <% }; %>
            <% } else { %>
                <b><%= APP.LONG_NAME %> - Edit Issue</b>
            <% }; %>
        </small>
        <strong class="h6"> v<%= APP.VERSION %></strong>

        <!-- Menu - Support -->
        <div class="btn-group">
            <button type="button" class="btn btn-success">Support</button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="esdoc-support" href="#">Email</a></li>
                <li><a class="esdoc-docs" href="#">Documentation</a></li>
            </ul>
        </div>

        <!-- Menu - Save -->
        <button class="esdoc-errata-save btn btn-primary btn-single">Save</button>

        <!-- Menu - Moderation -->
        <% if (STATE.isModerator) { %>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Moderate</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="esdoc-moderation-accept">Accept</a></li>
                    <li><a href="#" class="esdoc-moderation-reject">Reject</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" class="esdoc-moderation-extend">Extend</a></li>
              </ul>
            </div>
        <% } %>

    </h1>
</header>
</script>
    <!-- END: page header -->

    <!-- BEGIN: Issue -->
    <script type="underscore/template" id="template-issue">
<article class="container-fluid">
    <header class="bg-primary">
        <h2>
            <%= STATE.issue.fullTitle %>
        </h2>
    </header>
    <%= UTILS.renderTemplate("template-issue-details") %>
</article>
</script>
    <!-- END: Issue -->

    <!-- BEGIN: Issue details -->
    <script type="underscore/template" id="template-issue-details">

<table class="table">
    <tbody>
        <!-- Field: email -->
        <% if (STATE.isAnonymous) { %>
            <tr>
                <td class="field-name">Email Address *</td>
                <td class="field-value email">
                    <input id="email"
                           name="email"
                           type="text"
                           tabindex="2"
                           class="form-control"
                           placeholder="Enter your email - a system moderator will contact you in due course." >
                    <div id="emailErrorMessage" class="field-error" />
                 </td>
            </tr>
        <% } %>

        <!-- Field: project -->
        <tr>
            <td class="field-name">Project *</td>
            <td class="field-value project">
                <% if (!STATE.issue.isNew) { %>
                    <%= STATE.issue.project.toUpperCase() %>
                <% } else { %>
                    <select id="project"
                            name="project"
                            class="form-control"
                            tabindex="1">
                        <% if (STATE.issue.isNew) { %>
                            <option value="null">Select Project</option>
                        <% } %>
                        <% _.each(PYESSV.ESDOC.ERRATA.getProject(), function(i) { %>
                            <option value="<%= i.canonicalName %>"
                                    <%= i.canonicalName === STATE.issue.project ? "selected" : "" %> >
                                <%- i.label %>
                            </option>
                        <% }); %>
                    </select>
                    <div id="projectErrorMessage" class="field-error" />
                <% } %>
            </td>
        </tr>

        <!-- Field: title -->
        <tr>
            <td class="field-name">Title *</td>
            <td class="field-value title">
                <input id="title"
                       name="title"
                       type="text"
                       tabindex="2"
                       <% if (!STATE.issue.isNew) { %>disabled="true"<% } %>
                       class="form-control"
                       placeholder="Enter a unique title between 16 and 255 characters."
                       value="<%= STATE.issue.title %>" >
                <div id="titleErrorMessage" class="field-error" />
            </td>
        </tr>

        <!-- Field: description -->
        <tr>
            <td class="field-name">Description *</td>
            <td class="field-value description">
                <textarea id="description"
                          name="description"
                          class="form-control"
                          tabindex="3"
                          placeholder="Enter an explanation of the issue between 16 and 1023 characters."
                          rows="3"><%= STATE.issue.description%></textarea>
                  <div id="descriptionErrorMessage" class="field-error" />
            </td>
        </tr>

        <!-- Field: severity -->
        <tr>
            <td class="field-name">Severity *</td>
            <td class="field-value severity">
                <select id="severity" name="severity" class="form-control" tabindex="4">
                    <% if (STATE.issue.isNew) { %>
                        <option value="null">Select Severity</option>
                    <% } %>
                    <% _.each(PYESSV.ESDOC.ERRATA.getSeverity(), function(i) { %>
                        <option value="<%= i.canonicalName %>"
                                <%= i.canonicalName === STATE.issue.severity ? "selected" : "" %> >
                            <%- i.label %>
                        </option>
                    <% }); %>
                </select>
                <div id="severityErrorMessage" class="field-error" />
            </td>
        </tr>

        <!-- Field: status -->
        <tr <% if (STATE.issue.isNew) { %>class="hidden"<% } %>>
            <td class="field-name">Status *</td>
            <td class="field-value status">
                <select id="status" name="status" class="form-control" tabindex="5">
                    <% _.each(PYESSV.ESDOC.ERRATA.getStatus(), function(i) { %>
                        <% if (STATE.issue.status === 'new' || i.canonicalName !== 'new') { %>
                            <option value="<%= i.canonicalName %>"
                                    <%= i.canonicalName === STATE.issue.status  ? "selected" : "" %> >
                                <%- i.label %>
                            </option>
                        <% } %>
                    <% }); %>
                </select>
                <div id="statusErrorMessage" class="field-error" />
            </td>
        </tr>

        <!-- Field: urls -->
        <tr>
            <td class="field-name">Links</td>
            <td class="field-value urls">
                <textarea id="urls"
                          name="urls"
                          tabindex="6"
                          class="form-control"
                          placeholder="Enter a new line separated list of links."
                          rows="6"><%= STATE.issue.materials.join('\n') %></textarea>
                  <div id="urlsErrorMessage" class="field-error" />
            </td>
        </tr>

        <!-- Field: materials -->
        <tr>
            <td class="field-name">Materials / Images</td>
            <td class="field-value materials">
                <textarea id="materials"
                          name="materials"
                          tabindex="6"
                          class="form-control"
                          placeholder="Enter a new line separated list of image file links (.jpg, .gif, .png, .tiff)."
                          rows="6"><%= STATE.issue.materials.join('\n') %></textarea>
                  <div id="materialsErrorMessage" class="field-error" />
            </td>
        </tr>

        <!-- Field: datasets -->
        <tr>
            <td class="field-name">Datasets *</td>
            <td class="field-value datasets">
                <textarea class="form-control"
                          id="datasets"
                          name="datasets"
                          tabindex="7"
                          placeholder="Enter a new line separated list of ESG-F datset identifiers."
                          rows="15"><%= STATE.issue.datasets.join('\n') %></textarea>
                  <div id="datasetsErrorMessage" class="field-error" />
            </td>
        </tr>

        <!-- Fields: Moderation -->
        <% if (STATE.isModerator) { %>
            <tr>
                <td class="field-name">Moderation Status</td>
                <td class="field-value issue-moderation-status <%= STATE.issue.moderationStatus %>">
                    <%= STATE.issue.moderationStatus.toUpperCase() %>
                </td>
            </tr>
            <tr>
                <td class="field-name">Moderation Window</td>
                <td class="field-value issue-moderation-window">
                    <%= STATE.issue.moderationWindow %>
                </td>
            </tr>
        <% } %>

        <!-- Footer -->
        <tr>
            <td colspan="2"><em>NOTE: fields marked * are required.</em></td>
        </tr>

    </tbody>
</table>
</script>
    <!-- END: Issue details -->

    <!-- BEGIN: Issue materials -->
    <script type="underscore/template" id="template-issue-materials">
<% _.each(STATE.issue.materials, function(material) { %>
        <img src="<%= material %>"
             alt="NO MATERIALS PROVIDED"
             title="TODO"
             class="img"/>
<% }); %>
</script>
    <!-- END: Issue materials -->

    <!-- BEGIN: Issue datasets -->
    <script type="underscore/template" id="template-issue-datasets">
<table class="table table-bordered table-striped">
    <thead>
        <tr class="column-headers">
            <th title='Number' class="text-center">
                #
            </th>
            <th title='Dataset Identifier'>
                ESG-F Dataset Identifier
            </th>
        </tr>
    </thead>
    <tbody>
        <% _.each(STATE.datasets, function(dataset, idx) { %>
        <tr>
            <td class="text-center">
                <%= idx + 1 %>
            </td>
            <td class="col-md-12">
                <%= dataset %>
            </td>
        </tr>
        <% }); %>
    </ tbody>
    <tfoot>
        <tr class="bg-default">
            <th colspan="2">
                <span>
                    Affected Datasets = <%= STATE.datasets.length %>
                </span>
                <span class="pull-right">
                    <strong><small>
                        <%- APP.NAME %> v<%- APP.VERSION %> © <%- APP.copyrightYear %>
                        <a href="<%- CONSTANTS.URLS.HOME_PAGE %>" target='_blank'>ES-DOC</a>
                    </small></strong>
                </span>
            </th>
        </tr>
    </tfoot>
</ table>
</script>
    <!-- END: Issue datasets -->

    <!-- BEGIN: feedback -->
    <div id="feedbackContainer" class="modal fade feedback-container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span class="feedback-title"></span>
                        <small class="feedback-version"></small>
                    </h4>
                </div>
                <div class="modal-body">
                    <p><b id="feedbackText"><b></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: feedback -->

    <!-- BEGIN: information dialog -->
    <div id="infoDialogContainer" class="modal fade feedback-container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span class="infoDialog-title"></span>
                        <small class="infoDialog-version"></small>
                    </h4>
                </div>
                <div class="modal-body">
                    <p><b id="infoDialogText"><b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END: information dialog -->

</body>

</html>