<!DOCTYPE html>
<html>

<!-- ---------------------------------------------- -->
<!-- Document head 									-->
<!-- ---------------------------------------------- -->
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="media/img/favicon.ico" type="image/x-icon" />
    <title>ES-DOC - Errata - Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- ---------------------------------------------- -->
	<!-- CSS: 											-->
	<!-- ---------------------------------------------- -->
    <link href="ext/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="media/css/shared/defaults.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="media/css/shared/cv.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="media/css/shared/header.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="media/css/viewer/title.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="media/css/viewer/details.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<!-- ---------------------------------------------- -->
<!-- Document body 									-->
<!-- ---------------------------------------------- -->
<body>

<!-- BEGIN: Page header -->
<script type="underscore/template" id="template-header">
<header class="main">
    <img src="media/img/logo.png"
         alt="Earth System Documentation"
         title="Earth System Documentation"
         class="pull-left esdoc-logo" />
    <h1 class="pull-right">
        <small>
            <b><%= APP.NAME %></b>
            <b><%= APP.SUBTITLE %></b>
        </small>
        <strong class="h6"> v<%= APP.VERSION %></strong>
        <button class="esdoc-support btn btn-primary">Support</button>
    </h1>
</header>
</script>
<!-- END: page header -->

<!-- BEGIN: Issue -->
<script type="underscore/template" id="template-issue">
<article class="container-fluid">
    <header class="bg-primary">
        <h2>
            <%= issue._fullTitle %>
        </h2>
    </header>
    <%= APP.utils.renderTemplate("template-issue-tabs", APP.state) %>
</article>
</script>
<!-- END: Issue -->

<!-- BEGIN: Issue tabs -->
<script type="underscore/template" id="template-issue-tabs">
<% // TAB NAV %>
<ul class="nav nav-tabs" role="tablist">
    <% // TAB NAV: details %>
    <li role="presentation" class="active">
        <a  href="#tab-issue-details"
            aria-controls="profile"
            role="tab"
            title="Details"
            data-toggle="tab">
            <strong class="text-uppercase">
                Details
            </strong>
        </a>
    </li>
    <% // TAB NAV: materials %>
    <% if (issue._materials.length) { %>
    <li role="presentation">
        <a  href="#tab-issue-materials"
            aria-controls="profile"
            role="tab"
            title="Materials"
            data-toggle="tab">
            <strong class="text-uppercase">
                Materials (<%= issue._materials.length %>)
            </strong>
        </a>
    </li>
    <% } %>
    <% // TAB NAV: datasets %>
    <% if (issue._datasets.length) { %>
    <li role="presentation">
        <a  href="#tab-issue-datasets"
            aria-controls="profile"
            role="tab"
            title="Affected Datasets"
            data-toggle="tab">
            <strong class="text-uppercase">
                Affected Datasets (<%= issue._datasets.length %>)
            </strong>
        </a>
    </li>
    <% } %>
</ul>
<% // TAB CONTENT %>
<div class="tab-content">
    <% // TAB CONTENT: overview %>
    <div role="tabpanel" class="tab-pane active" id="tab-issue-details">
        <section>
            <%= APP.utils.renderTemplate("template-issue-details", APP.state) %>
        </section>
    </div>
    <% // TAB CONTENT: materials %>
    <% if (issue._materials.length) { %>
    <div role="tabpanel" class="tab-pane" id="tab-issue-materials">
        <section>
            <%= APP.utils.renderTemplate("template-issue-materials", APP.state) %>
        </section>
    </div>
    <% } %>
    <% // TAB CONTENT: datasets %>
    <% if (issue._datasets.length) { %>
    <div role="tabpanel" class="tab-pane" id="tab-issue-datasets">
        <section>
            <%= APP.utils.renderTemplate("template-issue-datasets", APP.state) %>
        </section>
    </div>
    <% } %>
<div>
</script>
<!-- END: Issue tabs -->

<!-- BEGIN: Issue details -->
<script type="underscore/template" id="template-issue-details">
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td class="field-name">Project</td>
            <td class="field-value">
                <%= issue._project %>
            </td>
        </tr>
        <tr>
            <td class="field-name">Institute</td>
            <td class="field-value">
                <%= issue._institute %>
            </td>
        </tr>
        <tr>
            <td class="field-name">ESG-F ID</td>
            <td class="field-value">
                <%= issue.uid %>
            </td>
        </tr>
        <tr>
            <td class="field-name">Title</td>
            <td class="field-value">
                <%= issue.title %>
            </td>
        </tr>
        <tr>
            <td class="field-name">Description</td>
            <td class="field-value">
                <%= issue.description %>
            </td>
        </tr>
        <tr>
            <td class="field-name">Landing Page</td>
            <td class="field-value">
                <% if (issue.url) { %>
                <a href="<%= issue.url %>"
                   target="blank"
                   title="Link to issue landing page">
                   <%= issue.url %>
                </a>
                <% } else { %>
                    --
                <% } %>
            </td>
        </tr>
        <tr>
            <td class="field-name">Responsible Party</td>
            <td class="field-value">
                <% if (issue.responsibleParty) { %>
                <a href="mailto:<%= issue.responsibleParty %>"
                   subject="ES-DOC :: errata support"
                   title="Link to issue responsible party">
                   <%= issue.responsibleParty %>
                </a>
                <% } else { %>
                    --
                <% } %>
            </td>
        </tr>
        <tr>
            <td class="field-name">State</td>
            <td class="field-value issue-state <%= issue._state.key %>">
                <%= issue._state.label %>
            </td>
        </tr>
        <tr>
            <td class="field-name">Severity</td>
            <td class="field-value issue-severity <%= issue._severity.key %>">
                <%= issue._severity.label %>
            </td>
        </tr>
        <tr>
            <td class="field-name">Workflow</td>
            <td class="field-value issue-workflow <%= issue._workflow.key %>">
                <%= issue._workflow.label %>
            </td>
        </tr>
        <tr>
            <td class="field-name">Date Created</td>
            <td class="field-value">
                <%= issue._dateCreated %>
            </td>
        </tr>
        <tr>
            <td class="field-name">Date Last Updated</td>
            <td class="field-value">
                <%= issue._dateUpdated %>
            </td>
        </tr>
        <tr>
            <td class="field-name">Date Closed</td>
            <td class="field-value">
                <%= issue._dateClosed %>
            </td>
        </tr>
    </tbody>
</table>
</script>
<!-- END: Issue details -->

<!-- BEGIN: Issue materials -->
<script type="underscore/template" id="template-issue-materials">
<% _.each(issue._materials, function(material) { %>
        <img src="<%= material %>"
             alt="TODO"
             title="TODO"
             class="img"/>
<% }); %>
</script>
<!-- END: Issue materials -->

<!-- BEGIN: Issue datasets -->
<script type="underscore/template" id="template-issue-datasets">
<table class="table table-bordered table-striped">
    <thead>
        <tr class="column-headers">
            <th title='Number' class="text-center">
                    #
            </th>
            <th title='Dataset Identifier'>
                Dataset ESG-F Identifier
            </th>
        </tr>
    </thead>
    <tbody>
        <% _.each(issue._datasets, function(dataset, idx) { %>
        <tr>
            <td class="text-center">
                <small>
                    <%= idx + 1 %>
                </small>
            </td>
            <td class="col-md-12">
                <%= dataset %>
            </td>
        </tr>
        <% }); %>
    </ tbody>
    <tfoot>
        <tr class="bg-default">
            <th colspan="2">
                <span>
                    Affected Datasets = <%= issue._datasets.length %>
                </span>
                <span class="pull-right">
                    <strong><small>
                        <%- APP.NAME %> v<%- APP.VERSION %> © <%- APP.copyrightYear %>
                        <a href="<%- APP.defaults.homepage %>" target='_blank'>ES-DOC</a>
                    </small></strong>
                </span>
            </th>
        </tr>
    </tfoot>
</ table>
</script>
<!-- END: Issue datasets -->

<!-- BEGIN: feedback -->
<div id="feedbackContainer" class="modal fade feedback-container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="feedback-title"></span>
                    <small class="feedback-version"></small>
                </h4>
            </div>
            <div class="modal-body">
                <p><b id="feedbackText"><b></p>
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="sr-only">100% Complete</span>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: feedback -->

<!-- ---------------------------------------------- -->
<!-- JS: 3rd party libraries                        -->
<!-- ---------------------------------------------- -->
<script src="ext/jquery-2.2.3.min.js"></script>
<script src="ext/underscore-1.8.3.min.js"></script>
<script src="ext/backbone-1.3.3.min.js"></script>
<script src="ext/bootstrap-3.3.6/js/bootstrap.min.js"></script>
<script src="ext/js.cookie-2.1.0.js"></script>
<script src="ext/moment-2.12.0.min.js"></script>
<script src="ext/numeral-1.5.3.min.js"></script>

<!-- ---------------------------------------------- -->
<!-- JS: Application scripts                        -->
<!-- ---------------------------------------------- -->
<!-- ... shared scripts 							-->
<script src="media/js/viewer/_.js" type="text/javascript"></script>
<script src="media/js/shared/constants.js" type="text/javascript"></script>
<script src="media/js/shared/defaults.js" type="text/javascript"></script>
<script src="media/js/shared/utils.js" type="text/javascript"></script>
<script src="media/js/shared/view.renderer.js" type="text/javascript"></script>
<script src="media/js/viewer/feedback.js" type="text/javascript"></script>
<script src="media/js/viewer/state.js" type="text/javascript"></script>
<script src="media/js/viewer/data.downloader.js" type="text/javascript"></script>
<script src="media/js/viewer/data.parser.js" type="text/javascript"></script>
<script src="media/js/viewer/view.js" type="text/javascript"></script>

</body>

</html>