div.filter {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 6px 0 10px 0;
    width: 100%;
}

div.filter div.row {
	margin-left: 10px;
}

div.filter label {
	float: left;
	font-weight: normal;
	width: 11.8%;
	margin: 2px;
}

div.filter span {
	float: left;
	font-weight: normal;
	width: 11.8%;
	margin: 2px;
}
