div.filter {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

div.filter label {
	float: left;
	font-weight: normal;
	width: 18%;
	margin-left: 16px;
}

div.filter span {
	float: left;
	font-weight: normal;
	width: 18%;
	margin-left: 16px;
}
