span.summary-main {
	font-weight: normal;
	padding-top: 5px
}

thead tr.column-headers {
    background-color:#eceeef;
}

tbody tr.null-search {
    background-color:#eceeef;
	text-align: center;
	font-size: 2.4em;
}

tfoot tr {
    background-color:#eceeef;
}

input.pagination-info {
	width: 170px;
	text-align: center;
}

select.pagination-page-size {
	width: 100px;
	color: #999;
}

td {
	cursor: pointer;
}
