/* Issue states */
td.issue-state {
	font-weight: bold;
}
td.issue-state.open {
	background-color: #00ff00;
}
td.issue-state.closed {
	background-color: #ff9900;
}


/* Issue severity */
td.issue-severity {
	font-weight: bold;
}
td.issue-severity.low {
	background-color: #e6b8af;
}
td.issue-severity.medium {
	background-color: #dd7e6b;
	color: #ffffff;
}
td.issue-severity.high {
	background-color: #cc4125;
	color: #ffffff;
}
td.issue-severity.critical {
	background-color: #a61c00;
	color: #ffffff;
}


/* Issue status */
td.issue-status {
	font-weight: bold;
}
td.issue-status.new {
	background-color: #00ff00;
}
td.issue-status.onhold {
	background-color: #ff9900;
}
td.issue-status.resolved {
	background-color: #0c343d;
	color: #ffffff;
}
td.issue-status.wontfix {
	background-color: #38761d;
	color: #ffffff;
}